* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1e1e1e;
}

h1, h2 {
  text-align: center;
  font-weight: 600;
  color: yellowgreen;
  text-shadow: 2px 2px black;
  font-size: 50px;
  padding: 10px;
}

h1 {
  font-style: italic;
  cursor: pointer;
  color: greenyellow;
  font-size: 70px;
  text-shadow: 5px 5px 20px black;
}

li {
  padding: 20px;
  font-style: italic;
  font-size: 30px;
  color: honeydew;
  text-shadow: 2px 2px black;
}

.grid {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.grid .col {
  background-color: pink;
  margin-bottom: 16px;
  padding: 16px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.grid .col:hover {
  background-color: salmon;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.grid2 {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 768px) {
  .grid2 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .grid2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid2 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.grid2 .col2 {
  background-color: lightskyblue;
  margin-bottom: 16px;
  padding: 16px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.grid2 .col2:hover {
  background-color: blueviolet;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.grid3 {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 768px) {
  .grid3 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 960px) {
  .grid3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid3 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.grid3 .col3 {
  background-color: greenyellow;
  margin-bottom: 16px;
  padding: 16px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.grid3 .col3:hover {
  background-color: yellowgreen;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.grid3 img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.grid4 {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 768px) {
  .grid4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 960px) {
  .grid4 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid4 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.grid4 .col3 {
  background-color: greenyellow;
  margin-bottom: 16px;
  padding: 16px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.grid4 .col3:hover {
  background-color: yellowgreen;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.img-block {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */